{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h2 class="title"> Contactez-nous </h2>
 {# {{ form_start(contact) }}
    <div class="form-group flex">
       <div class="flex-1"></div>
          {{ form_label(contact.Email) }}
       <div class="flex-1">
           {{ form_widget(contact.Email) }}
       </div>
    </div>
    <div class="form-group flex">
       <div class="flex-1"></div>
          {{ form_label(contact.Subject) }}
       <div class="flex-1">
           {{ form_widget(contact.Subject) }}
       </div>
    </div>
    <div class="form-group flex">
       <div class="flex-1"></div>
           {{ form_label(contact.Message) }}
       <div class="flex-1">
            {{ form_widget(contact.Message) }}
       </div>
    </div>
    <div class="form-group flex">
       <div class="flex-1"></div>
           {{ form_label(contact.Country) }}
       <div class="flex-1">
            {{ form_widget(contact.Country) }}
       </div>
    </div>
 {{ form_end(contact) }} #}
 {{ form(contact)}}
{% endblock %}
