{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
 {{ form_start(contact) }}
    <div class="form-group flex">
       <div class="flex-1"></div>
           {{{{ form_label(contact.Email) }}}}
       <div class="flex-1"></div>
    </div>
      {{ form_row(contact.Subject) }}
      {{ form_row(contact.Email) }}
      {{ form_row(contact.Message) }}
 {{ form_end(contact) }}
{% endblock %}
