{% extends 'base.html.twig' %}

{% block title %}Jstore | Log in!{% endblock %}
{% set aside = "not" %}
{%block header%}
     {{ include('header/header.html.twig', {name : "Login Form"})}}
{%endblock%}
{% block body %}
<form method="post">
    <p>Don't have account ? Please <a href="{{ path("app_register")}}">click here</a> to sign up. </p>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="form-group flex">
        <input 
        type="email" 
        value="{{ last_username }}" 
        name="email" 
        placeholder="Your email ..."
        id="inputEmail" 
        class="form-control flex-1" 
        autocomplete="email" required autofocus>

    </div>
    <div class="form-group flex">
        <input 
        type="password" 
        name="password" 
        placeholder="Your password ..."
        id="inputPassword" 
        class="form-control flex-1" 
        autocomplete="current-password" required>

    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
