{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block slider %}
    <div class="slider">
        <div class="slider-content">
            <h2>Bienvenue sur le blog Jstore</h2>
            <p>Plusieurs articles publiés chaque jour !</p>
            <a href="https://mudey.fr/programme/formation-complete-developpeur-web-full-stack" target="_blank">
                <button class="btn">consulter</button>
                
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}

<div class="articles-infos">
    <strong>{{articles | length }}</strong> articles retrouvés 
</div>
<div class="articles">
    {% for article in articles %}
    <a href="article/{{ article.slug }}" class="article-item">
        <div class="articles-image">
            <img src={{ article.imageurl }} width="300" height="300" alt="image de l'article: {{article.title}}">
        </div>
        <div class="article-details-flex">
            <div class="article-author-details">
                <div class="article-author-picture">
                    {# <img src={{article.author.profile.picture}} width="50" height="50" alt="image de profile de {{author.full_name}}"> #}
                </div>
            </div>
            <div class="article-content-details">
                <h2 class="article-title">{{article.title}}</h2>
                <div class="article-createdAt">{{article.fromNow }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
