{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% set aside = "not" %}

{% block header %}
    {{ include('header/header.html.twig', {name : "Formulaire d'Inscription"})}}
{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}
 <p>Avez-vous un compte ? Veuillez <a href="{{ path("app_login")}}">cliquer ici</a> pour vous connecter</p>
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="flex mb-10">
            {# <div class="flex aic">
                {{ form_label(registrationForm.agreeTerms) }}

            </div> #}
            <div>
                {{ form_widget(registrationForm.agreeTerms) }}

            </div>

        </div>

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
