{{ form_start(form) }}
   {% if title is defined %}
     <h2 class="title">{{ title }}</h2>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
