body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.container{
    width: 90%;
    max-width: 1500px;
    margin: 50px auto;
    position: relative;
    z-index: 999;
    overflow: hidden;
}
ul{
    list-style-type: none;
    padding: 0;
}
.mt-20{
    margin-top: 20px;
}
.flex{
    display: flex;
    gap: 5px;
}
.gap-20{
    gap: 20px;
}
.flex-1{
    flex:1;
}
.wrap{
    flex-wrap: wrap;
}

.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
a{
    color: inherit;
    text-decoration: none;
}
.badge{
    background-color: var(--main-color);
    color: white;
    border-radius: 40px;
    padding: 2px 5px;
}
.btn{
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 25px #1d1d1d;
    background: var(--main-gradient);

}
form .btn{width: 100%;}
.mb-10{
    margin-bottom: 10px;
}
none{
    display: none !important;
}
footer{
    background: var(--main-gradient);
    color: white;
    /* height: 300px; */
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 25px #1d1d1d;
}
footer .footer-content{
    gap: 10px;
}
footer .footer-content-item{
    min-width: 300px;
    padding: 5px;
}
footer h2{
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 0.9;
    text-shadow: 1px 1px 25px #1d1d1d;
    border-bottom: 2px solid #efefef;
    padding-bottom: 5px;
    display:inline-block;
}
footer ul{
    padding: 0px;
    list-style-type: none;
}

footer ul li{
    line-height: 1.2;
    padding-bottom: 15px;
}
@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
    }
    
}