{% extends 'base.html.twig' %}

{% block title %}My Article | Jstore {% endblock %}
{% set aside = "not" %}

{% block header %}
    {{ include('header/header.html.twig', {name :  "All Articles" })}}
{% endblock %}

{% block body %}
<div class="UserDashboard flex gap-20">
    {{ include('account_dashboard/index.html.twig', {page: "articles"}) }}
    <div class="UserDashboard-container">
        <h2 class="title">My Articles</h2>
    
        <div class="flex mb-10">
            <a class="btn" href="{{ path('app_article_new') }}">Create new</a>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>ImageUrl</th>
                        <th>CreatedAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td class="td-content">
                            <div class="article-content">
                                {{ article.content | raw}}
                            </div>
                        </td>
                        <td class="image">
                            <img src="{{ article.imageurl }}" alt="Image de {{ article.title }}">
                        </td>
                        <td>{{ article.createdAt ? article.fromNow : '' }}</td>
                        
                        <td>
                            <div class="flex">
                                <a class="btn" href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                                <a class="btn" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                                {{ include('article/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    
        </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.article-content').readmore({ 
            speed: 75, 
            moreLink: '<a href="#" class="btn btn-read">Read more</a>',
            lessLink: '<a href="#" class="btn btn-read">Read less</a>' 
        });
    </script>
{% endblock %}
