.articles{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.articles .article-item{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 13px #ccc;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}
.articles .article-item:hover{
    background-color: var(--main-color);
    color: white;
}
.articles .article-item .article-details{
    padding: 5px;
    gap: 5px;
}
.articles .article-item .article-image img{
    width: 100%;
    height: 200px;
}
 .article-author-picture img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 4px solid var(--main-color);
    box-shadow: 2px 2px 13px #ccc;
}
.articles-infos{
    text-align: center;
    padding: 10px 0;
}


.articles .article-item .article-title{
    font-size: 0.9rem;
}