body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--main-color);
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 25px #1d1d1d;
    position: sticky;
    top: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
header h2{
    padding-left: 30px;
    text-shadow: 1px 1px 25px #1d1d1d;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}
.flex{
    display: flex;
}
.flex-1{
    display:1;
}
.wrap{
    flex-wrap: wrap;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
a{
    color: inherit;
    text-decoration: none;
}