body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--main-color);
    color: white;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}