.single-article article-image{
    width: 100%;
    height: 300px;

}
.single-article article-image img{
    width: 100%;
    height: 100%;
}.single-article .article-author-picture{
    width: 100%;
    height: 100%;
}
