.single-article article-image{
    width: 100%;
    height: 600px;

}
.single-article article-image img{
    width: 100%;
    height: 100%;
}.single-article article-details{
    padding: 20px 0;

}
.content{
    text-align: justify;
}
